*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 70.5%;
  scroll-behavior: smooth;
}

.container {
  transform: translateX(-30%);
  margin-left: 50%;
  margin-top: 7rem;
  border: 10px solid grey;

  display: inline-block;
 padding: 60px;
 
}

.container__input {
  border: none;
  background-color: orangered;
  padding: 1rem 1.8rem;
  color: #e2e0e0;
  margin-left: -40px;
  border-radius: 1rem;
 
  margin-right: 2.5rem;
}
.container__input1{
  border:none;
  background-color: lightgray;
  padding: 1rem 1.8rem;
  margin-bottom: 10px;
  margin-left: 12px
}

.container__submit {
  border: none;
  background-color: teal;
  padding: 1rem 1.8rem;
  color: #e2e0e0;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 70px;
}

.container__submit:focus {
  outline: none;
}

.files__entity {
  background-color: lightgray;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

h1{
  padding: 5px;
  color: indianred;
  padding-left: 30px;
}